
.sidebar {

    height: 100vh;
    width: var(--sidebar_width);
    background: rgb(29,29,29);

    &_header{
        font-size: clamp(14px,calc(var(--index)),18px);
        height: calc(var(--chat_elements_height) * 0.85);
        color: var(--main_text);
        text-align: center;
        align-content: center;

        &_container{
            display: flex;
            justify-content: center;
            padding-left: calc(var(--index) / 2);
            @media (max-width:776px) {
                justify-content: space-between;
            }
        }

        &_close{
            display: none;
            background: none;
            position: relative;

            &:active,&:hover{
                background: none ;
            }

            &::after,&::before{
                content: '';
                position: absolute;
                left: 10px;
                display: block;
                width: 20px;
                height: 2px;
                background-color: #6b0a26;
            }

            &::before{
                transform: rotateZ(45deg);
            }
            &::after{
                transform: rotateZ(-45deg);
            }

            @media (max-width:776px) {
                display: inline;
            }
        }
    }

    @media (max-width:776px) {
        display: none;
    }

    &_mobile{
        @media (max-width:776px) {
            display: block;
            position: fixed;
            right: 0;
            z-index: 2;
            width: 80vw;
            border-left: 2px solid rgb(22, 22, 22);
        }

    }

}

.users{

    list-style: none;
    font-size: calc(var(--index) * 0.8);
    font-weight: 500;
    color: var(--main_text);
    padding: 0 calc(var(--index) / 2) 0 calc(var(--index) / 4);

    @media (max-width:768px) {
        padding: 0 calc(var(--index) / 2) 0 calc(var(--index) / 2);
    }
    
    &_li{
        display: flex;
        align-items: center;
        gap: 20px;
        max-height: 45px;
        padding: 10px calc(var(--index) / 2) 10px calc(var(--index) / 3);
        margin-bottom:  calc(var(--index) / 2);
        background-color: rgba(10, 10, 10, 0.5);
        border-radius: 12px;
        border-right: 3px  solid rgba(10, 10, 10, 0.4);
        border-bottom: 3px  solid rgba(10, 10, 10, 0.4);
    }

    &_img{
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 30px;
        min-height: 30px;
        width: calc(var(--index) * 2.5);
        height: calc(var(--index) * 2.5);
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(29,29,29) 40%, rgba(117, 12, 38, 0.644) 100%);

        &_noAvatar{
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &_name{
        font-size: clamp(16px,calc(var(--index)),20px);
        color: rgb(95, 20, 40);
    }

    &_time{
        font-size: clamp(12px,calc(var(--index)),14px);
        color: rgba(193, 199, 204, 0.767);
    }
}