.main{
    max-width: var(--chat_elements_width);
    width: 100%;
    display: flex;
    flex-flow: column;
    height: 100vh;
    background-color: rgb(29,29,29);

    @media (max-width:992px) {
        max-width: none;
        width: calc(100vw - var(--sidebar_width));
        margin-left: var(--index);
    }
    @media (max-width:776px) {
        max-width: none;
        width: 100%;
        margin:  0 var(--index);
    }
}