.chat{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: rgb(29,29,29);

    @media (max-width:768px) {
        display: flex;
        justify-content: center;
    }
}

.roomList{
    max-width: var(--roomlist_width);
    min-width: var(--roomlist_width);
    display: flex;
    flex-direction: column;
    padding:calc(var(--index) / 5) calc(var(--index) / 3) calc(var(--index) / 4) calc(var(--index) / 3);

    @media (max-width:768px) {
        max-width: none;
        width: 90vw;
    }
    
    &_hide{
        @media (max-width:992px) {
           display: none;
        }
    }

    &_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: var(--chat_elements_height);
        margin-bottom: 20px;    
        font-size: clamp(18px,calc(var(--index) * 0.9),26px);
        font-weight: 700;
        line-height: calc(var(--index) * 0.8);
        letter-spacing: 2px;
        
        &_span{
            width: calc(var(--index) * 6.5);
            color: var(--main_text);

            &:first-child{
                padding:  0 0 calc(var(--index) * 0.3);
                // border-bottom: 2px solid black;
            }
        }

        &_decorateLine{
            position: relative;
            z-index: 2;
            height: 2px;
            width: calc(var(--index) * 7);
            background-color: var(--main_text);
            box-shadow: 0 0 20px 2px rgb(88, 21, 32);
            animation: blur 5s infinite;

            @keyframes blur {
                0%{
                    box-shadow: 0 0 20px 5px rgb(88, 21, 32);
                }
                50%{
                    box-shadow: 0 0 30px 15px rgb(88, 21, 32);
                }
                100%{
                    box-shadow: 0 0 20px 5px rgb(88, 21, 32);
                }
            }
        }

        @media (max-width:992px) {
          padding-top: 10px;
        }

        @media (max-width:768px) {
            font-size: clamp(18px,calc(var(--index) * 2),32px);
            line-height: calc(var(--index) * 1.8);
            height: auto;


            &_span{
                width: auto;
            }

            &_decorateLine{
                width: calc(var(--index) * 10);
                margin: 5px 0;
            }
        }
    }

    &_block{
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: rgb(71, 16, 31) rgba(255, 255, 255, 0);    
    }
}